# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/   
# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
# Distribution / packaging
dist/
build/